<% @product = @comment.product %>

<%= render "products/product_header" %>

<h1 class="normal f6 tr mb2 pb2 bb b--black-10">YOUR COMMENT</h1>

<%= render 'form', comment: @comment, product: @comment.product %>

<%= link_to '&larr; Back'.html_safe,
      product_comments_path(@comment.product),
      class: "link dib mt5 blue" %>
