<div class="container mt-5">
  <div class="py-5 px-5 bg-white rounded">

    <%= render "products/product_header" %>

    <h3 class="h6 bb-1 mb-2 pb-2 text-muted mt-5">COMMENTS (<%= @product.comments.count %>)</h3>
    
    <div class="mt-4">
      <%= render @product.comments %>

      <%= render 'form',
                  comment: (@comment or @product.comments.new),
                  product: @product %>
    </div>

  </div>
</div>
