<%= title @comment.body.truncate(50) %>

<div class="container mt-5">
  <div class="py-5 px-5 bg-white rounded">
    <% @product = @comment.product %>

    <%= render "products/product_header" %>

    <div class="mt-5 mb-3 pb-2 bb-1">
      <%= link_to "&larr; Back to Comments".html_safe,
            product_comments_path(@comment.product),
            class: "link blue" %>
    </div>

    <%= render "comment", comment: @comment %>
  </div>
</div>