<div class="mb3 pb2 bb b--black-10">
  <%= link_to "&larr; Back to Comments".html_safe,
        product_comments_path(@comment.product),
        class: "link blue" %>
</div>

<%= render "comment", comment: @comment %>