<%= title "New Category" %>

<div class="container mt-5">
  <div class="py-5 px-5 bg-white rounded">
    <h1 class="h3">New Category</h1>
    
    <%= render 'form', category: @category %>
  </div>
</div>
