<div class="mt4 mt5-ns mb4 cf pb3 bb b--black-40">

  <div class="nowrap overflow-x-auto tc">
    <%= link_to "OVERVIEW",
                @product,
                class: "link dim f6 f5-ns b dib ml3 blue" %>

    <%= link_to "COMMENTS",
                product_comments_path(@product),
                class: "link dim f6 f5-ns b dib ml3 blue" %>

    <span class="f6 f5-ns b dib ml3 black-20">SHOPS</span>
    <span class="f6 f5-ns b dib ml3 black-20">FORUM</span>
    <span class="f6 f5-ns b dib ml3 black-20">SUPPORT</span>
    <span class="f6 f5-ns b dib ml3 black-20">...</span>
  </div>

</div>