<div class="container mt-5">
  <div class="py-5 px-5 bg-white rounded">

    <h1 class="tc mb3 mb4-ns f3 bb b--black-40 pb3">Editing Product</h1>

    <%= render 'form', product: @product %>
  </div>
</div>