<div class="container mt-5">
  <%= render 'search_form' %>
</div>

<div class="container mt-3">
  <div class="py-5 px-5 bg-white rounded">
    <% if policy(Product).new? %>
      <%= link_to '[Add new]',
                  new_product_path,
                  class: 'float-right' %>
    <% end %>
    <h3 class="h6 bb-1 mb-3 pb-2 text-muted">PRODUCTS (<%= @products.size %>)</h3>
    
    <%= render @products %>
  </div>
</div>

<script type="text/javascript">
  
  var searchInput = document.getElementById('q');
  var strLen = searchInput.value.length;
  searchInput.setSelectionRange(strLen, strLen); 

</script>


